# About this project

In this case study, we are data scientists at a real estate company in the city of Rio de Janeiro, Brazil. Our main function as data scientists is to support the demands of the Machine Learning team and the Development team of this company.

To meet this demand, we will analyze a real estate database in the city of Rio de Janeiro that contains different types of properties such as apartments, houses, businesses, among others. On this basis, we will find the rental values ‚Äã‚Äãof each property, condominium, IPTU and its characteristics such as: number of rooms, suites, parking spaces...

üë®üèΩ‚Äçüíª Access the database by clicking [here](https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv).

## Importando os dados

In [16]:
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
data = pd.read_csv(url, sep=';')

# olhando as cinco primeiras linhas
data.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Bot√¢nico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien√≥polis,1,0,0,48,800.0,230.0,NaN

In [17]:
# olhando as cinco ultimas linhas
data.tail()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepagu√°,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,S√£o Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

For project portfolio purposes, I'm going to change the column names from Portuguese to English

In [18]:
data.columns = ["Type", "Neighborhood", "Bedrooms", "Parking", "Suites", "Area", "Price", "Condominium", "IPTU"]
data.head()

,Type,Neighborhood,Bedrooms,Parking,Suites,Area,Price,Condominium,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Bot√¢nico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien√≥polis,1,0,0,48,800.0,230.0,NaN

In [19]:
type(data)

pandas.core.frame.DataFrame

## Caracter√≠sticas gerais da base de dados

In [20]:
data.shape

(32960, 9)

In [21]:
data.columns

Index(['Type', 'Neighborhood', 'Bedrooms', 'Parking', 'Suites', 'Area',
       'Price', 'Condominium', 'IPTU'],
      dtype='object')

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Type          32960 non-null  object
 1   Neighborhood  32960 non-null  object
 2   Bedrooms      32960 non-null  int64
 3   Parking       32960 non-null  int64
 4   Suites        32960 non-null  int64
 5   Area          32960 non-null  int64
 6   Price         32943 non-null  float64
 7   Condominium   28867 non-null  float64
 8   IPTU          22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [26]:
data["Type"]

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Type, Length: 32960, dtype: object

In [30]:
data[["Bedrooms", "Price"]]

       Bedrooms   Price
0             1  1700.0
1             2  7000.0
2             0  5200.0
3             1   800.0
4             1   800.0
...         ...     ...
32955         0   800.0
32956         3  1800.0
32957         2  1400.0
32958         2  3000.0
32959         0  6500.0

[32960 rows x 2 columns]

A nossa base de dados cont√©m 32.960 linhas e 9 colunas:
- Type: tipo de im√≥vel;
- Neighborhood: bairro da cidade do Rio de Janeiro;
- Bedrooms: n√∫mero de quartos;
- Parking: n√∫mero de garagens;
- Suites: quartos com banheiro;
- Area: em metros quadrados;
- Price: valor mensal em real;
- Condominium: valor mensal do conom√≠nio em real (acrescido ao valor mensal);
- IPTU: imposto sobre Propriedade Predial e Territorial Urbana (um imposto brasileiro que pode ser pago √† vista ou parcelado).